# {{ ansible_managed }}
LANG="{{ default_locale }}"
LANGUAGE="{{ default_locale }}"
LC_ADDRESS="{{ default_locale }}"
LC_ALL="{{ default_locale }}"
LC_IDENTIFICATION="{{ default_locale }}"
LC_MEASUREMENT="{{ default_locale }}"
LC_MONETARY="{{ default_locale }}"
LC_NAME="{{ default_locale }}"
LC_NUMERIC="{{ default_locale }}"
LC_PAPER="{{ default_locale }}"
LC_TELEPHONE="{{ default_locale }}"
LC_TIME="{{ default_locale }}"
